{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
    <h1>User index</h1>

        <body>
        {% for user in users %}
            <h6>Id : {{ user.id }}</h6>

            <img src="{{asset('profile_photo/' ~ user.picture)}}">

            <h6>Username : {{ user.username }}</h6>

            <h6>Age : {{ user.age }}</h6>

             
            <h6>Interests : {% for interests in user.interests %}
                {{ interests }}  
            {% endfor %}</h6>

            <h6>Relationship goals : {% for relations in user.relations %}
                {{ relations }}
                {% endfor %}</h6>  

            <h6>Gender : {{ user.genders }}</h6>      
            <h6>Description : {{ user.description }}</h6>      

                
                    <a href="{{ path('user_show', {'id': user.id}) }}">show</a>
                    <a href="{{ path('user_edit', {'id': user.id}) }}">edit</a>
                
            
        {% else %}
                <td colspan="5">no records found</td>
        {% endfor %}
        </body>
{% endblock %}
