{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
    <h1>User</h1>

    <table class="table">
        <tbody>
            <img src="{{asset('profile_photo/' ~ user.picture)}}">
            <tr>
                <th>Username</th>
                <td>{{ user.username }}</td>
            </tr>
            <tr>
                <th>Age</th>
                <td>{{ user.age }}</td>
            </tr>
            <th>Interests</th>
            {% for interests in user.interests %}
            <tr>
                <td>{{ interests }}</td>
            </tr>
            {% endfor %}
                <th>Relationship goal</th>
            {% for relations in user.relations %}
            <tr>
                <td>{{ relations }}</td>
            </tr>
            {% endfor %}
                <th>Gender</th>
                <td>{{ user.genders }}</td>
                <th>Description</th>
                <td>{{ user.description }}</td>
        </tbody>
    </table>

    <a href="{{ path('user_index') }}">back to list</a>

    <a href="{{ path('user_edit', {'id': user.id}) }}">edit</a>

    {{ include('user/_delete_form.html.twig') }}
{% endblock %}
